<button class="btn btn-block btn-outline-success">
  Új felhasználó hozzáadása
</button>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Név</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Order Code</th>
      <th scope="col">isActive</th>
      <th scope="col">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ago</td>
      <td>agostonzajkas@gmail.com</td>
      <td>123</td>
      <td>AAAA1111</td>
      <td>1</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning">Szerkesztés</button>
          <button type="button" class="btn btn-danger">Törlés</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Ago</td>
      <td>agostonzajkas@gmail.com</td>
      <td>123</td>
      <td>AAAA1111</td>
      <td>1</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning">Szerkesztés</button>
          <button type="button" class="btn btn-danger">Törlés</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Ago</td>
      <td>agostonzajkas@gmail.com</td>
      <td>123</td>
      <td>AAAA1111</td>
      <td>1</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning">Szerkesztés</button>
          <button type="button" class="btn btn-danger">Törlés</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target=".bd-example-modal-xl"
>
  Extra large modal
</button>

<div
  class="modal fade bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
